[2016-07-26 20:02] sarahmarshy opened #6 "Compile scanning root directory (mbed-os-example-tls) instead of mbed-os-example-tls/authcrypt"
[code]

This line:

[code]

looks problematic. It hands off --source as .. instead of .

[2016-07-27 11:01] bulislaw opened #7 "mbed-os-5.1.0-rc1: autocrypt fails"
# Environment

MacOS (10.11.6) GCC_ARM
# Board

nRF51-DK
Giant Gecko
NUCLEO-L476RG
# Tag

mbed-os-5.1.0-rc1
# Error

[code]

[2016-07-27 13:34] bulislaw opened #8 "mbed-os-example-tls/benchmark: mbed-os-5.1.0-rc1: Compilation fail for NRF51_DK"
# OS

MacOS
# Toolchain

GCC_ARM
# Platform

NRF51_DK
# Tag

mbed-os-5.1.0-rc1
# Variant

benchmark

Compilation fails with:

[code]

[2016-07-27 16:09] #7 closed, assigned to nobody

[2016-07-27 16:10] #8 closed, assigned to nobody

[2016-07-27 16:11] #6 closed, assigned to nobody

[2016-08-01 09:35] bulislaw opened #9 "client-tls: Test fail K64F for export to GCC OoB#4"
Platform: K64F
Tag: mbed-os-5.1.0-rc4
OS: OSX (10.11.6)
Test: client-tls

Test passes just fine when compiled with mbed (GCC_ARM) but when exported to GCC_ARM and compiled with make I'm getting:
[code]

[2016-08-03 09:57] bulislaw opened #10 "Documentation should be extended to cover non K64F boards OoB#5"
README file should be extended to cover non-K64F use cases:

- Explicitly mention that at this stage other boards are not supported, otherwise people are faced with:
[code]
which doesn't mean much for them
- Documentation should enable people to implement support for TLS on their boards. It should be documented what is required (and what needs to be done) to get the demo up and running on differen

[2016-08-29 15:55] c1728p9 opened #11 "Stack buffers leading to stack overflow"
The main stack for most platforms is 4K. The tls-client example uses ~6K of stack which causes a stack overflow. TLS itself seems to be using nearly 4k and main.cpp is using ~2k.
Some places in main.cpp contributing to this stack usage.
https://github.com/ARMmbed/mbed-os-example-tls/blob/master/tls-client/main.cpp#L270
https://github.com/ARMmbed/mbed-os-example-tls/blob/master/tls-client/main.cpp#

[2016-08-29 16:03] c1728p9 commented on #11
@pjbakker, what kind of stack usage would you expect from tls? Are there config options to reduce this?

[2016-08-29 16:08] c1728p9 commented on #11
I created #12 to reduce some of the stack usage by addressing the above points.

[2016-08-30 08:30] pjbakker commented on #11
@c1728p9 Anywhere from 40k-256k depending on configuration and running ciphersuites / certificates?
There are a lot of config options available in *config.h*

This [article on reducing mbed TLS footprint](https://tls.mbed.org/kb/how-to/reduce-mbedtls-memory-and-storage-footprint) might be a good start?

[2016-08-30 13:27] c1728p9 commented on #11
Hi @pjbakker, are you referring to the stack or the heap? There are many boards with a heap >40K. In mbed-os the main thread's stack is no bigger than 4K for any cortex-m board.

[2016-08-30 13:43] pjbakker commented on #11
@c1728p9 Sorry.. Was referring to ROM size. Misread your question.
Stack size depends even more on the called function(tree).
Can you elaborate a bit on the functions stacked?

[2016-08-30 13:48] c1728p9 commented on #11
I'm seeing the heavy stack usage on mbed-os-example-tls. I have links above to certain functions which are declaring large objects on the stack. Also inside tls there is heavy stack usage, although I don't have precise locations. I wasn't sure if you had any upper bound for stack usage of TLS as you do for the heap usage.

[2016-08-31 08:40] pjbakker commented on #11
No, I don't think so.

[2016-09-05 12:39] adustm opened #13 "mbed deploy downloads 4 times mbed-os ?"
Hello,
I did `git clone https://github.com/ARMmbed/mbed-os-example-tls`
then `cd mbed-os-example-tls`
then` mbed deploy`
I was surprised to see 4 times
[code]

Is it possible to modify the setup so that it takes mbed-os repository only once ? It is very slow (at least for me, arround 30 minutes)

Kind regards
Armelle

[2016-09-05 14:47] yanesca commented on #11
I have some ideas to reduce stack size, but I don't know if we want to do any of these:

Several functions allocate buffers on the stack of MBEDTLS_MPI_MAX_SIZE bytes. This is 1024 by default and it is necessary to have it to be able to perform 4096bit by default. If we remove RSA from the example, we can get away with setting it to as low as ~128.

Our modular multiplication uses a ~750 byte long

[2016-09-05 15:16] yanesca commented on #13
Each example is a standalone application and the `mbed deploy` should be used in the subdirectory of the given example.

This does not help if you want to try all of them though, but unfortunately we don't know any better solution. Unfortunately mbed cli can't handle several applications. Hiding all but one example in a TARGET_IGNORE directory and switching them occasionally is the only solution t

[2016-09-05 19:47] c1728p9 commented on #11
What about dynamically allocating the buffer on function entry, and freeing it on function exit? Alternatively, you could dynamically allocate it and attach it to a TLS context object.

[2016-09-06 08:24] yanesca commented on #11
Yes, it is definitely possible, but doing it is not so straightforward. Changing the examples is one thing, but this would affect the library itself. mbed TLS has a standalone version too and there may be other considerations.

Only @pjbakker and @sbutcher-arm can tell if we can do this change, and even if they decide that we want to do it, it may not happen for a long time, because we are so shor

[2016-09-06 11:21] sbutcher-arm commented on #13
The solution with the current tools would be to have one example per repository, which I don't think we want to do at this time for such small examples. The tools team are aware of the shortcoming so there's no action required there.

As this is a question which I think we've answered, I'm closing the issue. If you disagree, or want to follow up please feel free to do so.

[2016-09-06 11:21] #13 closed

[2016-09-06 11:25] sbutcher-arm commented on #10
This is not an issue for mbed TLS, but more the lack of support for mbed TLS in mbed OS at the time you tested the issue.

To answer your point - 'It should be documented what is required' - the answer is very simply a board that supports mbed TLS which is dependent on hardware driver support. I think that is better documented in mbed OS, not in an mbed TLS example, where we're going to find it ha

[2016-09-06 11:36] sbutcher-arm commented on #9
This looks like a network error and basically a mistest. To retest, I would suggest reproducing the fault with the a board and then using the exact same physical network connection, bringing up the homepage of [https://developer.mbed.org/](https://developer.mbed.org/) That is all the example does really.

We've tested this quite a bit, and it's a simple sample so I am confident it works as intende

[2016-09-06 11:36] #9 closed

[2016-09-06 11:56] andresag01 commented on #13
I know that this question has already been closed, but if you are interested in only one of the examples, you can do the following command sequence to donwload mbed-os only once:

[code]

[2016-09-06 14:40] andresag01 opened #14 "mbedTLS causes stack overflow on some mbedOS targets"
The stack requirements for mbed TLS largely depend on the configuration used at compile time. However, there are no stack memory consumption figures available to help users decide on an appropriate stack size for embedded applications. As a result, it is very common that mbed TLS causes stack overflow errors that may or may not the caught by the system depending on the severity of the issue.

[2016-09-06 14:44] yanesca commented on #13
It has been done for all of the examples and the results committed to the repository and the ` mbed config root .` command is not necessary.

[2016-09-06 14:51] yanesca commented on #10
Also I it may be relevant, that I had updated the `Readme.md` with an "Other hardware" section right after this issue was raised.

[2016-09-10 20:10] ciarmcom commented on #14
ARM Internal Ref: IOTSSL-969

[2016-09-10 20:10] ciarmcom commented on #11
ARM Internal Ref: IOTSSL-970

[2016-09-13 08:52] sbutcher-arm commented on #11
Fix has been merged. Issue can now be closed.

[2016-09-13 08:52] #11 closed

[2016-09-13 08:58] #10 closed

[2016-09-27 08:12] toyowata opened #15 "Assertation failed in the benchmark example"
Following assertion occurred in the benchamrk example.

[code]
### mbed OS version

[code]
### Build command

[code]

[2016-09-30 10:12] mrudu172 commented on #15
I am also facing the exact same issue. Please post here if any solution is found!
Thank you.

[2016-11-30 13:46] andresag01 opened #25 "mbed TLS examples fail in NUMAKER_PFM_NUC472 board"
Even though the examples compile correctly with ARMCC and gcc, none of them shows the expected behaviour when the applications are flahed onto the target and the serial terminal is connected.

To reproduce this, compile any of the examples with mbed-os-5.3.0-rc1:
[code]
Then flash the device and open the serial terminal.

[2016-11-30 13:49] andresag01 opened #26 "tls-client example failing in UBLOX_EVK_ODIN_W2 dev board"
The tls-client compiles correctly with ARMCC and gcc for the UBLOX_EVK_ODIN_W2 target using mbed-os-5.3.0-rc1. However, no output is observed in the serial terminal when the application is run.

To reproduce, compile the program, flash and then connect the serial terminal:
[code]

[2016-11-30 16:49] ciarmcom commented on #26
ARM Internal Ref: IOTSSL-1108

[2016-11-30 16:49] ciarmcom commented on #25
ARM Internal Ref: IOTSSL-1109

[2016-11-30 17:34] andresag01 opened #27 "Compiling tls-client with IAR compiler throws warnings"
Compiling the tls-client example with IAR causes the following warning to be printed to the console:
[code]
This warning was observed while compiling with mbed-os-5.3.0-rc1 and mbed-cli. To reproduce run the command:
[code]

[2016-12-01 12:55] andresag01 opened #28 "Unexpected behaviour of mbed export?"
I believe there is some unexpected behaviour when exporting the examples using the command:
[code]
It appears that if the `mbed_settings.py` does dont contain an acceptable path for `IAR_PATH` then the generated makefiles do not contain the correct include path. However, I find surprising that even after setting `IAR_PATH` correctly, invocations of the compiler are not prepended with the correct p

[2016-12-01 13:53] andresag01 opened #29 "benchmark example does not finish correctly in NCS36510 dev board"
The benchmark example is very slow to run in the NCS36510 target. Furthermore, after waiting for sometime it does not seem to progress from the `CTR_DRBG (PR)` when compiled with ARMCC:
[code]

When compiled with gcc, the program terminates, but the following error is printed:
[code]

[2016-12-01 14:00] 0xc0170 commented on #29
cc @radhika-raghavendran

[2016-12-01 14:01] 0xc0170 commented on #28
probably an issue for mbed-cli ?

[2016-12-01 14:01] 0xc0170 commented on #25
cc @ccli8

[2016-12-01 14:12] andresag01 commented on #28
@0xc0170: Probably, but I am not sure how the build system is structured, there are a number of python scripts as well in mbed-os.

[2016-12-01 14:55] yanesca commented on #29
The example does not finish correctly when compiled in the online IDE either.

[2016-12-01 14:57] yanesca commented on #25
The same happens when compiled with the online IDE.

[2016-12-01 15:27] andreaslarssonublox commented on #26
I tested this and it seems to work for me if the EMAC macro is removed from the device_has in targets.json for UBLOX_EVK_ODIN_W2. If this is not removed I get the same behavior as you have with no output.
The default MAC is now Wi-Fi introduced in this commit:
https://github.com/ARMmbed/mbed-os/commit/20b7f057214a9edcda554c50ebec99e51f9756ed

[2016-12-01 15:33] bulislaw commented on #26
Shouldn't TLS work on both Ethernet and WiFi?

[2016-12-01 15:40] bulislaw commented on #26
Ok, synced with Martin -> the issue is by default Ethernet is not enabled on Odin board, with EMAC macro enabled the WiFi is active. The example doesn't support WiFi, therefore we have a fail.

[2016-12-01 16:37] yanesca commented on #26
It has run successfully when compiled in the online IDE.

[2016-12-02 02:27] ccli8 commented on #25
Hi, I cannot re-produce the issues.
### My environment
**mbed-os**
mbed-os-5.3.0-rc1
**mbed-os-example-tls**
ff1464123b9619c8e746b91a2458b6a8fd037705

### My test result
**mbed-os-example-tls/authcrypt (NUMAKER_PFM_NUC472, ARM)**
[code]

### mbed-os-example-tls/benchmark (NUMAKER_PFM_NUC472, ARM)
[code]

**mbed-os-example-tls/hashing (NUMAKER_PFM_NUC472, ARM)**
[code]

### mbed-os-example-tls/tls-

[2016-12-02 09:40] pradeep-gr commented on #29
@0xc0170 Please let me know how to re produce the issue.

[2016-12-02 09:45] andresag01 commented on #29
@pradeep-gr: To reproduce the issue checkout the mbed-os-example-tls version tagged with `mbed-os-5.3.0-rc1`. Then compile using mbed-cli:
[code]
Finally, flash the board and observe the output in the serial terminal. [This README](https://github.com/ARMmbed/mbed-os-example-tls/tree/master/benchmark) describes the expected behaviour.

[2016-12-02 15:35] c1728p9 commented on #25
Hi @ccli8, it looks like this occurs in Linux, but not in Windows. If you flash on a linux machine you should be able to reproduce this problem.

[2016-12-02 16:06] andresag01 commented on #29
It seems that the problem with the toolchains GCC and IAR is that the program eventually runs out of heap memory when trying to grow one of the MPI numbers for 4096 RSA private key calculations.

[2016-12-02 16:49] ciarmcom commented on #29
ARM Internal Ref: IOTSSL-1110

[2016-12-02 16:49] ciarmcom commented on #27
ARM Internal Ref: IOTSSL-1111

[2016-12-05 09:30] pradeep-gr commented on #29
@andresag01 Not able to build  mbed-os-5.3.0-rc1 with mbed-os. main.cpp from mbed-os-example-tls requires EthernetInterface.h file in turn requires target specific lwipopts_conf.h file. But Ethernet interface not available in target NCS36510.
![image](https://cloud.githubusercontent.com/assets/9861403/20879760/366171bc-bafb-11e6-87e6-8a87bbb6003e.png)

[2016-12-05 09:38] andresag01 commented on #29
@pradeep-gr: The error occurs because building from the root of the mbed-os-example-tls project causes mbed-cli to build every project subdirectory. This fails because the tls-client requires a Ethernet interface that the NCS36510 does not support. To build only the benchmark application (the one discussed in this issue), please use the following commands:
[code]

[2016-12-05 14:06] pradeep-gr commented on #29
@andresag01  Thanks for the details. I am able to re-produce the issue. But I am seeing the same behavior and delay,  even if I comment out all the code from trng_init(), trng_free() and trng_get_bytes() functions and just return success. I am also getting below warning "Object file test_env.o is not unique! It could be made from:" on compile even build is successful.

![image](https://cloud.githu

[2016-12-06 14:08] andresag01 commented on #29
@sbutcher-arm: As discussed, this is caused either by stack overflow or heap allocation failure (depending on the toolchain used). In some sense, this is a duplicate of https://github.com/ARMmbed/mbed-os-example-tls/issues/14. Should we close it?

[2016-12-06 14:18] andresag01 opened #31 "Examples do fail intermitently when using the mbed online IDE"
The mbed TLS examples intermitently fail to compile when using the mbed online IDE. The failure causes vary between the examples and sometimes the same example exhibits different faults depending on the time of compilation. Errors are related to:

* The online IDE fails to load, hangs, seems to be stuck doing some operations.
* Compilation errors are reported for no good reason since the programs

[2016-12-06 14:18] andresag01 commented on #31
@0xc0170

[2016-12-06 14:31] andresag01 commented on #25
As described by @c1728p9, the problem is related to some issues to flash the board in systems other than Windows. We have retested all the examples using Windows and they work correctly. Since this is not a problem with mbed TLS or the examples, I am closing this issue.

[2016-12-06 14:31] #25 closed

[2016-12-07 09:05] pradeep-gr commented on #29
Command  "mbed compile -t GCC_ARM -m NCS36510" successfully builds even when definition of "mbedtls_hardware_poll()" function is removed. I don't think mbed-os-example-tls having any dependency on HAL layer, espaecially on "mbedtls_hardware_poll()" function

![image](https://cloud.githubusercontent.com/assets/9861403/20915049/8bb7d94a-bba9-11e6-84ab-eb5175c4f3f5.png)

[2016-12-07 09:34] pradeep-gr commented on #29
@andresag01 And about the delay: If you compare K64F results (attached below) with NCS36510. As K64F can go up to 120 MHZ where NCC36510 is 32MHz. In this sense timings for NCS36510 are seems to be fine.

[2016-12-07 13:21] 0xc0170 commented on #31
cc @stephenpaulger @immunda

[2016-12-09 10:32] ashok-rao opened #32 "[Online IDE] [TLS-client] : Compilation fails on online IDE."
Steps to reproduce:
1. Import into online IDE via "import from URL" and point to example's github link.
2. Select K64F for platform and compile.
3. Fails to find "EthernetInterface.h".

However, it passes when compiling with CLI tool.
Screenshot below:

![tls-client](https://cloud.githubusercontent.com/assets/17567812/21046050/a3faeb7a-bdfa-11e6-899a-ae726e975bc4.jpg)

[2016-12-09 11:21] ashok-rao commented on #28
Issue also seen with NUCLEO_F429ZI:

IAR path set in mbed_settings.py
![iar_path](https://cloud.githubusercontent.com/assets/17567812/21047401/99540cea-be01-11e6-9f41-70f9ca980812.jpg)

[code]

[2016-12-09 11:34] 0xc0170 commented on #28
cc @theotherjimmy Is this correct, that makefile does not contain full paths, thus any mbed_settings is ignored? Is that desired behavior?

[2016-12-09 14:45] ashok-rao opened #33 "[Online IDE] [Benchmark]: Compilation fails for Nuvoton NUC472."
Steps to reproduce:
1. Import example from the "import via URL" link and point to https://github.com/ARMmbed/mbed-os-example-tls.git
2. Change platform to Nuvoton NUC472. Remove other examples from workspace.
3. Compile.
4. Fails with following error.

![benchmark_onlineide](https://cloud.githubusercontent.com/assets/17567812/21052696/1b796f6e-be1e-11e6-8e34-7c2ce72ef54d.jpg)

[2016-12-09 15:23] ashok-rao opened #34 "[Exporter] [TLS-Client] : Platform not supported by IAR."
1. Update repo.
mbed-os (7b974cac6578)
[code]

[2016-12-09 18:20] theotherjimmy commented on #28
The short answer is yes.

[2016-12-12 11:54] 0xc0170 commented on #34
Hello, can you please file this against mbed-os  (move this issue there), as the support for exporters is there? Thanks

[2016-12-12 16:49] ciarmcom commented on #33
ARM Internal Ref: IOTSSL-1123

[2016-12-12 16:49] ciarmcom commented on #32
ARM Internal Ref: IOTSSL-1124

[2016-12-12 16:49] ciarmcom commented on #31
ARM Internal Ref: IOTSSL-1125

[2016-12-13 13:32] 0xc0170 commented on #28
@andresag01 Please review the answer from @theotherjimmy . This is intended behavior, if not properly documented we should. There's that fix above that was integrated and will be part of the next patch release.

[2017-01-24 14:18] andresag01 commented on #27
This is an mbed TLS problem and is being addressed in https://github.com/ARMmbed/mbedtls/pull/750

[2017-01-24 15:05] andresag01 commented on #28
@0xc0170 @theotherjimmy: I tried the latest version of mbed-os (#34c1facf42) and the issue persists. That is, if I set the `ARM_PATH` (or `IAR_PATH`) to a correct location in `mbed_settings.py` and then run:
[code]
the build fails because the Makefiles are setup to find the compiler in the `PATH` variable even though I set an absolute path to the compiler. Interestingly enough, if I set `ARM_PATH`

[2017-01-24 15:20] andresag01 commented on #34
This issue is mostly related to the mbed-cli exporter instead of the mbed TLS example code. So I am closing this one and filed a report https://github.com/ARMmbed/mbed-os/issues/3633 in mbed-os

[2017-01-24 15:20] #34 closed

[2017-01-24 16:10] andresag01 commented on #32
Notes:
* This issue cannot be reproduced using command line tools (mbed-cli) or the exporter's makefiles (mbed export).
* mbed-os has changed since this bug was first raised, so now we have a different problem reported by the compiler when using the online IDE:
[code]
* I have raised a bug report in mbed OS https://github.com/ARMmbed/mbed-os/issues/3636. I am closing this bug report as it is not d

[2017-01-24 16:10] #32 closed

[2017-01-24 16:41] andresag01 commented on #33
Notes:
* This issue cannot be reproduced using command line tools (mbed-cli) or the exporter's makefiles (mbed export).
* The compilation error can still be reproduced with the HEAD of master branch in this repo.
* I have raised a bug report in mbed OS ARMmbed/mbed-os#3637. I will not close this bug yet as it is related to the mbed TLS implementation of hardware entropy in mbed OS.

[2017-01-24 17:25] andresag01 commented on #26
@0xc0170: Removing `EMAC` from the `device_has` for the target in the targets.json fixes the problem. However, is there a way to force the target to use Ethernet instead of Wifi without modifying mbed OS's targets.json to remove the `EMAC`?

[2017-01-25 07:18] bulislaw commented on #26
You can use `device_has_remove` in mbed_app.json like in https://github.com/ARMmbed/mbed-os-example-sockets/blob/master/mbed_app.json

[2017-01-25 10:11] andresag01 commented on #26
@bulislaw: Thanks for the information. I have created a PR with the suggested change. https://github.com/ARMmbed/mbed-os-example-tls/pull/41

[2017-01-25 10:39] andresag01 commented on #31
This problem does not seem to be directly related to either mbed TLS or its example code. I have created an issue in mbed OS  repo https://github.com/ARMmbed/mbed-os/issues/3643.

[2017-01-25 11:34] theotherjimmy commented on #28
@andresag01 The make exporter environment assumes that the compiler is in you `PATH` environment variable, irrespective of what `mbed compile` does.

[2017-01-25 11:36] andresag01 commented on #28
@theotherjimmy: So you mean that this is the expected behaviour and this is actually not a bug?

[2017-01-25 11:45] theotherjimmy commented on #28
@andresag01 that is correct

[2017-01-25 11:48] andresag01 commented on #28
@theotherjimmy: Thanks for clarifying, I am closing this bug report as it is the desired behaviour.

[2017-01-25 11:48] #28 closed

[2017-01-25 14:15] andresag01 commented on #26
The fix for this issue has been merge...

[2017-01-25 14:15] #26 closed

[2017-01-26 13:51] andresag01 commented on #33
The cause of the problem reported here is that the online IDE cannot handle multiple examples under the same project directory. Instead of importing the mbed TLS examples from their GitHub repo, use the following mirrors:
* https://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-tls-benchmark
* https://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-tls-tls-client
* h

[2017-01-26 14:19] andresag01 commented on #33
I have created a PR to change the main README.md: https://github.com/ARMmbed/mbed-os-example-tls/pull/42

[2017-01-27 10:23] andresag01 commented on #33
PR has been merged. Closing this issue.

[2017-01-27 10:23] #33 closed

[2017-01-30 10:22] andresag01 opened #43 "tls-client example does not support Wifi"
The tls-client application only works with Ethernet at the moment. It needs to be modified so that it uses either Wifi or Ethernet depending on availability.

[2017-01-30 12:49] ciarmcom commented on #43
ARM Internal Ref: IOTSSL-1181

[2017-01-31 13:32] andresag01 opened #45 "tls-client does not check that network stack and ethernet are available"
The tls-client example does not check whether the networking features (e.g. ethernet) are available in the target device at compile-time. This can result in various failures at compile/run time that are not necessarily easy to debug. Preprocessor checks should be added to the example to ensure that a comprehensible error message is printed if ethernet is not available.

[2017-01-31 16:49] ciarmcom commented on #45
ARM Internal Ref: IOTSSL-1183

[2017-02-14 11:58] andresag01 commented on #14
Currently, some of the example applications use the mbed_app.json file to set the macro `OS_MAINSTKSIZE` and increase the stack size. However, I do not think this has the desired effect in the latest mbed OS version. This should be removed from the examples.

[2017-03-01 11:14] soramame21 opened #52 "[OOB_5_4] Benchmark program hangs at "RSA-2048""
I exported  **benchmark as "make_iar"**, and built benchmark.bin with no error.
the program hangs at "RSA-2048" cannot go through as following. but the benchmark.bin built from mbed-cli command with IAR toolchain works well.

![hangup01](https://cloud.githubusercontent.com/assets/17120422/23456626/87435726-feb7-11e6-8aa8-e09569bba454.png)

# How to build the bad execuable

### makefile
I cannot at

[2017-03-02 05:23] soramame21 opened #54 "[OOB_5_4] tls-client got "SSL - Memory allocation failed""
I got following error when running tls-client on **NUCLEO_F746ZG**.
It related memory handling by IAR compiler.
![allocation_err](https://cloud.githubusercontent.com/assets/17120422/23493992/1cdc8000-ff53-11e6-9eb7-81e1698e3729.png)

# How to build the bad executable
1.

2.

then click **Make**,  **Download and Debug** on IAR Embedded Workbench.
3.

# How to build a working executable

[2017-03-02 06:21] soramame21 opened #55 "[OOB_5_4] tls-client got a compilation error for target HEXIWEAR"
All of following build commands resulted a compilation error.

## Building commnand

1. ```mbed compile -m HEXIWEAR -t IAR -c > bb0 2>&1```
2. ```mbed compile -m HEXIWEAR -t ARM -c > bb1 2>&1```
3. ```mbed compile -m HEXIWEAR -t GCC_ARM -c > bb2 2>&1```

## Building log
[code]

[2017-03-02 08:40] sunsmilearm opened #56 "[OOB_5_4] tls-client "X509 - Certificate verification failed" using IAR"
Log is:

[code]

[2017-03-02 13:28] 0xc0170 commented on #55
What's the error ? please use markdown code highlighting for console output for better readability. I can't spot the error from the above output.

[2017-03-02 13:30] 0xc0170 commented on #56
Please when reporting an issue, provide as much details as you can. What commands did you use, what target, what toolchain (version as well). Think about how to reproduce this by another user.

[2017-03-02 14:39] sbutcher-arm commented on #56
@sunsmilearm - Can you please confirm what the board was? This will be a board specific issue.

[2017-03-03 02:39] soramame21 commented on #55
@0xc0170
I had updated the building log. the point is target HEXIWEAR doesn't have an Ethernet interface. it is not suitable target for tls test.

[2017-03-03 03:37] soramame21 opened #57 "[OOB_5_4] Online Compilation failed by missing "objects.h""
Online compilation failed by missing "objects.h".
Target : **NUCLEO_F746ZG**

``` Error: Cannot open source input file "objects.h": No such file or directory in "extras/tls-client/mbed-os.lib/targets/TARGET_STM/TARGET_STM32F7/device.h", Line: 38, Col: 22 ```

### imported URL to online compiler
```https://github.com/ARMmbed/mbed-os-example-tls#fcc3b724ff879b7dcfc3a5d4fb5e23b7de5f7848```

[2017-03-03 09:38] sunsmilearm commented on #56
@sbutcher-arm Sorry, forget to mention that the platform is Ublox Odin W2

Tool chain:
IAR C/C++ Compiler for ARM
  7.70.2.11706 (7.70.2.11706)

command is simply mbed compile

[2017-03-03 11:15] 0xc0170 commented on #52
Bump

[2017-03-06 05:38] soramame21 commented on #57
this issue cannot be reproduce.

[2017-03-06 05:38] #57 closed

[2017-03-06 05:51] soramame21 opened #61 "[OOB_5_4] tls-client failed when running on NUCLEO_F746ZG"
tls-client outputted following error message when running on NUCLEO_F746ZG.

![tls-client-err01](https://cloud.githubusercontent.com/assets/17120422/23598079/33930e7e-027b-11e7-8fef-0e496176cfdd.png)

### Imported URL to online compiler
```https://github.com/ARMmbed/mbed-os-example-tls#fcc3b724ff879b7dcfc3a5d4fb5e23b7de5f7848```
then removed other examples (authcrypt/benchmark/hashing), built tls-

[2017-03-06 13:02] MarceloSalazar commented on #55
As HEXIWEAR doesn't have Ethernet, I'd suggest we close this issue.

[2017-03-06 14:22] soramame21 commented on #55
I agree. it's closed now.

[2017-03-06 14:22] #55 closed

[2017-03-07 06:48] soramame21 commented on #54
@simonb @MarceloSalazar Could you give comment for this issue?

[2017-03-07 06:50] soramame21 commented on #61
@simonb @MarceloSalazar Could you give comment for this issue?

[2017-03-07 07:11] soramame21 commented on #52
@simonb @MarceloSalazar Could you give comment for this issue?

[2017-03-07 10:35] sbutcher-arm commented on #61
cc: @andresag01, @bridadan

I don't believe this is supported by the online IDE. We had a similar bug before in issue https://github.com/ARMmbed/mbed-os/issues/3636.

Can you please retest this by importing the TLS client sample by some other means?

[2017-03-07 10:37] sbutcher-arm commented on #56
This should be fixed in RC2 by https://github.com/ARMmbed/mbed-os/pull/3871

Please retest.

[2017-03-07 10:40] sbutcher-arm commented on #54
Looks like a memory problem. The suspicion is the heap isn't big enough with IAR.

@mazimkhan - Can you please look at this?

[2017-03-07 10:44] sbutcher-arm commented on #52
This is similar to #56 which was a heap problem and this is likely an insufficient stack problem, similar to #14.

@mazimkhan - Could you please look at this?

[2017-03-07 10:47] mazimkhan commented on #54
@soramame21 please try with latest mbed-os that has fix for the memory issue.

[2017-03-07 11:59] mazimkhan commented on #52
@soramame21 I am not able to reproduce this issue locally. IAR workbench version is 7.70.1.11486. IAR compiler version is 7.70.1.11437/W32. Can you please provide the version you are using?

[2017-03-07 12:45] soramame21 commented on #52
@mazimkhan I'm using IAR workbench version below.
![iar version0307](https://cloud.githubusercontent.com/assets/17120422/23656995/6454fcd4-037f-11e7-96af-2ec798ae1e1c.png)

[2017-03-07 12:50] ciarmcom commented on #54
ARM Internal Ref: IOTSSL-1248

[2017-03-07 12:50] ciarmcom commented on #52
ARM Internal Ref: IOTSSL-1249

[2017-03-07 12:55] soramame21 commented on #54
@mazimkhan I'll try it tomorrow. thanks.

[2017-03-07 13:32] mazimkhan commented on #52
Please try with IAR 7.7

[code]

[2017-03-07 13:35] mazimkhan commented on #54
This PR fixed this issue in mbed-os https://github.com/ARMmbed/mbed-os/pull/3871

[2017-03-07 13:37] soramame21 commented on #52
@mazimkhan @toyowata I'll try it tomorrow, but not sure how to get the specific compiler.

[2017-03-07 14:10] mazimkhan commented on #54
Please try with this PR on mbed-os
https://github.com/ARMmbed/mbed-os/issues/3902

[2017-03-07 16:19] MarceloSalazar commented on #61
I'm hitting the same run time problem when using mbed CLI with either compiler (ARM, GCC, IAR).
mbed OS RC2: 305f5c491e34d86098e9da91b322017549c189ff
Example OOB branch: 4cc386327c21917c0d5e1445f2ad1f068ebe24b9
Using the Online Compiler shouldn't make a difference (assuming other folders are deleted) and should just work

[2017-03-07 16:37] mazimkhan commented on #54
Updated my comment above. This issue should be fixed by ARMmbed/mbed-os#3902

[2017-03-07 17:11] mazimkhan commented on #61
As observed together this works with mbed-CLI but fails with online IDE. Something wrong with online IDE environment.

[2017-03-07 17:12] MarceloSalazar commented on #61
@0xc0170 @sbutcher-arm can we add a (known issue) note to these examples, saying that the Online IDE is not expected to work with this example?

[2017-03-07 17:14] MarceloSalazar commented on #54
I confirm PR ARMmbed/mbed-os#3902 fixes memory allocation problem when building with IAR
@0xc0170 please add a note to the mbed OS known issue list

[2017-03-07 17:58] bridadan commented on #61
As @sbutcher-arm mentioned, this was brought up last time: https://github.com/ARMmbed/mbed-os/issues/3636

The online compiler assumes one project per repo. In face mbed CLI assumes this too when you use `mbed import`, but this repo contains multiple examples and uses a few different tricks to get it to work which don't work in the online compiler. We need to either test the mercurial mirrors on t

[2017-03-07 18:14] MarceloSalazar commented on #61
Thanks Brian. I indeed tried to remove other folders to make sure that no multiple main.cpp/mbed-os.lib where in the project. Interestingly this 'trick' works with the BLE examples.
I'd suggest not testing the Online IDE with these examples anymore, as it's not really a valid use case nor great UX.

[2017-03-07 19:10] bridadan commented on #61
Hmm that is strange. @andresag01 added instructions last time pointing the user to the developer site mirror project: https://github.com/ARMmbed/mbed-os-example-tls/blame/master/authcrypt/README.md#L9

Though perhaps we should make those instructions more prominent? They're kind of easy to miss right now.

[2017-03-07 19:29] bridadan commented on #56
I just retested this and everything worked.

mbed-os-example-tls commit: `4cc386327c21917c0d5e1445f2ad1f068ebe24b9`

IAR verison:
[code]

Log output from device:
[code]

[2017-03-07 19:51] sbutcher-arm commented on #31
Not an mbed TLS issue, so closing.

[2017-03-07 19:51] #31 closed

[2017-03-08 03:32] soramame21 commented on #54
@mazimkhan @MarceloSalazar yes, I verified the fix for IAR toolchain as well.

[2017-03-08 03:56] soramame21 commented on #61
@bridadan @MarceloSalazar Why is revision of **tls-client\mbed-os** not updated at online IDE? but revision of **tls-clinet** can be updated!
### Revision of `tls-client` is updated
![tls-revision](https://cloud.githubusercontent.com/assets/17120422/23689447/00960f9c-03fe-11e7-82eb-8ac4e514a6d8.png)
### Revision of `tls-client\mbed-os` is not updated
![tls-clinet-mbed-os-revision](https://cloud.gi

[2017-03-08 05:52] MarceloSalazar commented on #61
This is a limitation of the (beta) Online IDE when working with mbed OS versions that are not official (e.g. RC2)

[2017-03-08 07:04] soramame21 commented on #52
@mazimkhan @toyowata I cannot get the `IAR ANSI C/C++ Compiler V7.70.1.11437/W32 for ARM`. I do not change my IAR compiler. but I found the exported makefile including compilation flag **"-On"**, when I changed it to **"-Oh"**, then the program started working.

[2017-03-08 07:19] mazimkhan commented on #52
```On``` would mean no optimisation. This looks like an exporter bug because by default optimisations are On.
However, it should be possible to debug the example. Can you try with mbed-os PR 3902 that you used with other issue. Since that corrects both heap and stack sizes.

[2017-03-08 08:02] sunsmilearm commented on #56
Fixed. Thanks.

[2017-03-08 09:33] soramame21 commented on #52
@mazimkhan I had applied the **mbed-os PR 3902** with enlarged heap size already. it is not relevant to this issue.

[2017-03-08 09:39] soramame21 commented on #52
@mazimkhan I got **HardFault_Handler** on IAR Embeded Workbench.

[2017-03-08 09:43] mazimkhan commented on #52
@soramame21 do you get HardFault for PR 3902 or without or anyways?

[2017-03-08 09:47] soramame21 commented on #52
@mazimkhan I applied  PR 3902 at this morning, then started my test. I didn't remove it. I believe this HardFault cannot be fixed by removing PR 3902.

[2017-03-08 09:55] soramame21 commented on #52
@mazimkhan the HardFault can be reproduced when I choose `Level None or Level Low` at the optimization setting screen.

but the HardFault can be fixed when I choose `Level Medium or Level High`

![options](https://cloud.githubusercontent.com/assets/17120422/23698898/9af51448-0430-11e7-92f0-88befc97a756.png)

[2017-03-08 10:12] soramame21 commented on #52
@mazimkhan I identified that the HardFault can be fixed when I set `Level Medium without options` as following.

![medium](https://cloud.githubusercontent.com/assets/17120422/23699604/1d088c92-0433-11e7-8aca-e70d26010bb0.png)

[2017-03-08 10:18] soramame21 commented on #61
I got it, Thanks.

[2017-03-08 14:37] MarceloSalazar commented on #61
The doc shows that we should be using the developer.mbed.org examples for the Online IDE:
https://github.com/ARMmbed/mbed-os-example-tls#required-software
This is a known limitation of the Online IDE.

@0xc0170

[2017-03-08 14:37] #61 closed

[2017-03-08 15:43] bridadan commented on #56
@sunsmilearm Could you close this issue then?

[2017-03-09 07:56] #56 closed

[2017-03-10 09:57] mazimkhan commented on #54
Can this be closed now?

[2017-03-10 12:21] #54 closed

[2017-03-14 07:50] sunsmilearm opened #65 "Cannot export to IAR, platform: UBLOX_EVK_ODIN_W2"
command:
  cd authcrypt
  mbed compile -i iar -m UBLOX_EVK_ODIN_W2

error log:

[code]

[2017-03-14 07:51] sunsmilearm opened #66 "cannot export to make_iar, make_gcc_arm, make_armc5, platform UBLOX_EVK_ODIN_W2"
command:
cd authcrypt
mbed compile -i make_XXX -m UBLOX_EVK_ODIN_W2

log:
[code]

[2017-03-14 08:10] sunsmilearm opened #67 "Cannot export to uvision5, platform UBLOX_EVK_ODIN_W2"
commands:
cd benchmark
mbed export -i uvision5 -m UBLOX_EVK_ODIN_W2

the export log is only "scan ." and the project is nearly empty.

[2017-03-14 10:18] andresag01 commented on #65
@theotherjimmy: Could you please take a look at this issue with the exporter?

[2017-03-14 10:18] andresag01 commented on #66
@theotherjimmy: Could you please take a look at this issue with the exporter?

[2017-03-14 10:23] andresag01 commented on #67
@theotherjimmy: Is this the expected behaviour? I ran the command and I get the following output:
[code]

[2017-03-14 10:57] soramame21 commented on #52
@mazimkhan This issue is not fixed, it is reproduced. when I built binary for target **HEXIWEAR**, the compilation flag "-On" is exported to makefile, it should be "-Oh"!

### build command
[code]

[2017-03-14 11:01] mazimkhan commented on #52
@theotherjimmy can you please look into the exporter issue in above comment.

[2017-03-14 11:12] soramame21 commented on #52
@mazimkhan could you rephrase your comment? I don't follow you. I had verified following code.
Is it OK?

mbed-os-example-tls\benchmark\mbed-os\targets\TARGET_Freescale\TARGET_MCUXpresso_MCUS\TARGET_MCU_K64F\device\TOOLCHAIN_IAR\MK64FN1M0xxx12.icf
`/* Heap 1/4 of ram and stack 1/8 */
define symbol __stack_size__=0x8000;
define symbol __heap_size__=0x10000;`

[2017-03-14 11:17] ashok-rao opened #68 "[OoB_5.4.1] [EXPORTER] : export to uvision5 and make_armc5 fails on NuMaker_PFM_NUC472."
**Steps to reproduce:**
1. import example, update to oob-test-mbed-os-5.4.1 branch.
2. mbed export -i uvision5 -m NUMAKER_PFM_NUC472

**Result:**
[code]

**Exporting with -vv option:**
[code]
Maybe an issue with exporter. Raising here to keep track.
The exported project does not contain anything except 1 file (mbed_config.h).

[2017-03-14 11:19] ashok-rao commented on #68
For export to make_armc5:
[code]

[2017-03-14 11:19] mazimkhan commented on #52
@soramame21 There are two issues here.
1. The example should work regardless of optimisation level.
2. The exporter should be consistent with other IDEs/build tools that compile with optimisation On.

I have added Jimmy here to look into the exporter issue. Regarding example not working with optimisation low or off, we can put that as a known issue and schedule to fix that.

[2017-03-14 11:23] soramame21 commented on #52
@mazimkhan I see. Thank you for explanation and quick reaction!

[2017-03-14 11:44] ashok-rao commented on #68
Issue also seen with "benchmark" example exporting to "make_gcc_arm".

[2017-03-14 12:33] ashok-rao commented on #67
@andresag01 .. The exported project does not contain anything except 1 file (mbed_config.h)...

[2017-03-14 12:55] andresag01 commented on #67
@ashok-rao: That is interesting. I ran the same test and I got the files that I listed above. Perhaps it would be useful if you can post some additional information regarding your environment to help reproduce the issue. For example, what mbed-cli version are you using? what OS are you running? etc.

[2017-03-14 13:02] ashok-rao commented on #67
@andresag01 , when I run export, I get the *.uvprojx & *.uvoptx (which are the project files for uVision). When I open the project with MDK, there is nothing ..

![mdk](https://cloud.githubusercontent.com/assets/17567812/23901722/612d66d6-08b6-11e7-8cd9-87abced53e5d.JPG)

[2017-03-14 13:08] andresag01 commented on #67
@ashok-rao: Thanks for the additional information. Perhaps @theotherjimmy can help us with this problem?

[2017-03-14 14:14] andresag01 commented on #68
@theotherjimmy: Could you please take a look at this issue with the exporter?

[2017-03-14 16:38] theotherjimmy commented on #68
That's fixed by https://github.com/ARMmbed/mbed-os/pull/3924

[2017-03-14 16:38] theotherjimmy commented on #67
again, https://github.com/ARMmbed/mbed-os/pull/3924 is the solution.

[2017-03-14 16:46] theotherjimmy commented on #52
@soramame21 @mazimkhan see https://github.com/ARMmbed/mbed-os/issues/3890. Exporters use the `debug` profile by default. You can change that by passing `--profile=develop` for the "default" profile into the `mbed export` command.

So:

Agreed

They are consistant, with `--profile=debug`.

[2017-03-15 14:53] ashok-rao commented on #65
@theotherjimmy , can you please update any status on this? Thanks!

[2017-03-15 14:53] ashok-rao commented on #66
@theotherjimmy , bump!

[2017-03-15 16:02] theotherjimmy commented on #66
@sunsmilearm I think your command invocation is incorrect

should be `mbed export ...`

I have seen a few issues related to exporting for the odin. Further, I cannot reproduce this issue.

Versions:
 - mbed - 1.0.0
 - git show (in authcrypt)
[code]
 - git show (in mbed-os)
[code]

[2017-03-16 15:49] RonEld opened #69 "wrong output in the Benchmark application"
The output of the Benchmark Application performance is in Kb/s , however, according to the code:
[code]
The performance should be in Kilo Bytes (KB) not Kilo bits (Kb) as printed

[2017-03-16 16:50] ciarmcom commented on #69
ARM Internal Ref: IOTSSL-1286

[2017-03-17 13:15] MarceloSalazar commented on #68
Issue ARMmbed/mbed-os#3924 still open. Waiting to be merged and confirm fix.

[2017-03-29 10:08] MarceloSalazar opened #74 "[Benchmark] Remove dependencies on DWT registers"
The application should not access to DWT/Debug registers directly. Also, these registers are only available in ARMv7-M based processors (not in Cortex-M0/M0+).

https://github.com/ARMmbed/mbed-os-example-tls/blob/master/benchmark/main.cpp#L189

I'd suggest to use the 'time' API available in mbed OS:
https://docs.mbed.com/docs/mbed-os-api-reference/en/latest/APIs/tasks/Time/

@sbutcher-arm

[2017-03-29 11:49] ciarmcom commented on #74
ARM Internal Ref: IOTSSL-1302

[2017-03-29 12:17] mehdiBezahaf commented on #67
Had the same problem and ARMmbed/mbed-os#3924 fixed it ;) Thanks

[2017-03-30 08:51] ashok-rao commented on #68
https://github.com/ARMmbed/mbed-os/pull/3924 merged and released for 5.4.2. Closing issue!

[2017-03-30 08:51] #68 closed

[2017-05-25 01:41] eembc opened #84 "Signature algorithm (oid) is unsupported : OID - OID is not found"
Hello,

I'm compiling the `tls-client` with mbed-os 5.4.0 and gcc for ARM 6.3.1.

When it boots, it fails at the cert parse:

mbedtls_x509_crt_parse() failed: -0x262e (-9774): X509 - Signature algorithm (oid) is unsupported : OID - OID is not found

I tried a few different certs and get the same error.

Advice?

Thanks,
Peter

[2017-05-31 16:06] eembc commented on #84
Appears to be related to SHA1 usage in the cert. Fixed with a different cert.

[2017-05-31 16:06] #84 closed

[2017-06-06 15:27] andresag01 commented on #66
I have tested this issue with mbed-os-5.4.6 and the problem seems to have been resolved. Closing the issue.

[2017-06-06 15:27] #66 closed

[2017-06-06 15:51] andresag01 commented on #65
I think the problem here is that the mbed-cli command used is incorrect. To compile with IAR it should be `-t` instead of `-i`. If the intention is to export, then the command should be something like `mbed export -i make_iar -m UBLOX_EVK_ODIN_W2`. Closing this issue.

[2017-06-06 15:51] #65 closed

[2017-06-07 10:41] andresag01 commented on #69
A fix for this issue has already been merged into master. Closing ticket...

[2017-06-07 10:41] #69 closed

[2017-06-07 10:41] andresag01 commented on #74
https://github.com/ARMmbed/mbed-os-example-tls/pull/88 addresses this issue.

[2017-06-07 10:56] RonEld commented on #69
@andresag01 I think this issue was remained opened because of the benchmark application in the mbed TLS repository: https://github.com/ARMmbed/mbedtls/pull/920

[2017-06-07 10:57] RonEld commented on #69
my mistakes, I thought about the internal JIRA ticket

[2017-06-07 12:14] andresag01 commented on #67
I have tried this with mbed OS 5.4.6 and the issue seems to be fixed. Closing this ticket...

[2017-06-07 12:14] #67 closed

[2017-06-07 15:52] andresag01 commented on #74
PR #88 has now been merged. This issue should be resolved.

[2017-06-07 15:52] #74 closed

[2017-06-08 20:35] deepikabhavnani opened #90 "Compiling tls examples with Keil throws warnings"
Compiling "tls examples" with Keil gives multiple warnings with freescale target device
           warning:  #66-D: enumeration value is out of "int" range

Steps to reproduce run the command:
1. Clone "mbed-os-example-tls"
2. Enter authcrypt directory
3. mbed deploy
4. mbed export -i uVision -m K64F
5. Build code on Keil uVision

@sg-  @maclobdell @mmahadevan108 : enums are used for register spec

[2017-06-08 20:37] bridadan opened #91 "Authcrypt compiled with make_gcc_arm fails with runtime error"
With branch `mbed-os-5.5.0-rc1-oob`, when exporting with `make_gcc_arm`, the example fails to run.

I received two different errors when running the authcrypt example.

[code]

[code]

[2017-06-08 22:10] bridadan opened #92 "Benchmark example built with make_iar thows runtime error"
Once the benchmark example finishes running, a CMSIS RTOS error is thrown when built with the `make_iar` exporter. Here's the full log:

[code]

[2017-06-08 22:57] yennster opened #93 "Authcrypt example, exported with make_iar for Hexiwear - nothing happens"
## Steps to Reproduce:

1. Navigate to the authcrypt directory and run `mbed export -i make_iar -m HEXIWEAR`
Output:
[code]

2. Run `make` (in my case I'm using GnuWin32 make)
Output:
[code]
3.  Drag the created .bin file in the BUILD directory to the HEXIWEAR board

4. Connect serial port monitor to the board (in my case COM16)

### Expected Output:
[code]

### Actual Output:

Nothing

### Notes:

[2017-06-08 23:04] yennster commented on #93
Weird local issue on my computer, fixed the issue. Closing!

[2017-06-08 23:04] #93 closed

[2017-06-09 03:33] deepikabhavnani commented on #91
@bridadan on which target device?

[2017-06-09 09:19] andresag01 commented on #92
@bridadan: Could you please tell us which target you were using?

[2017-06-09 15:31] yennster commented on #91
I received a similar error on HEXIWEAR with the following commands: `mbed export -i make_gcc_arm -m HEXIWEAR` & `make` -

[code]

[2017-06-09 18:46] yennster commented on #91
@deepikabhavnani @bridadan Once again, I received a similar error on K66F with the following commands: `mbed export -i make_gcc_arm -m K66F` & `make` -

[code]

[2017-06-12 12:02] andresag01 commented on #90
@deepikabhavnani: Thank you for raising this issue.

The files that are raising the #66-D warning are `fsl_dspi.h`, `fsl_edma.h` and `fsl_uart.h`. However, none of these belong to mbed TLS or this examples repository, so I will close this issue. Also, please note that there is already a ticket in mbed OS that reports this problem: https://github.com/ARMmbed/mbed-os/issues/4222.

[2017-06-12 12:02] #90 closed

[2017-06-12 12:48] andresag01 commented on #91
I tried with both HEXIWEAR and K64F and the example fails in both cases when the application is compiled with the debug profile. For example, compiling with the following command will result in the same stack underflow error:
[code]

[2017-06-12 15:56] bridadan commented on #92
Oh jeez, that would be helpful wouldn't it? *facepalm*

It was the UBLOX_EVK_ODIN_W2.

[2017-06-12 16:04] bridadan commented on #91
Sorry y'all, it was late on a Thursday, wasn't thinking straight. It was on the UBLOX_EVK_ODIN_W2.

@andresag01 good catch about the debug profile, maybe this is a generic issue and not just for the TLS examples...

[2017-06-13 13:55] andresag01 commented on #91
It seems that we are running out of stack memory and a runtime check seems to be throwing this failure. As I pointed out before, the problem only seems to happen with debug builds, while no error occurs with release or develop builds probably because in debug builds compiler optimisations are completely disabled.

This ticket is related to https://github.com/ARMmbed/mbed-os-example-tls/issues/14.

[2017-06-13 13:56] andresag01 commented on #92
It seems that we are running out of stack memory and a runtime check seems to be throwing this failure. As I pointed out before, the problem only seems to happen with debug builds, while no error occurs with release or develop builds probably because in debug builds compiler optimisations are completely disabled.

This ticket is related to https://github.com/ARMmbed/mbed-os-example-tls/issues/14.

[2017-06-13 15:12] bridadan commented on #91
@andresag01 Perhaps you can look at moving some of the memory that's allocated on the main thread to global space?

[2017-06-29 13:14] sherrellbc opened #98 "No server support using mbedTLS on mbed-os"
Is such a thing possible on mbed-os? I found [this](https://github.com/ARMmbed/mbedtls/blob/development/programs/ssl/ssl_server.c) example on the mbedTLS Github page, but the code was written assuming a UNIX platform.

After searching around a bit I have found examples:
- [tls.mbed](https://tls.mbed.org/discussions/generic/compiling-problems)
- [developer.mbed](https://developer.mbed.org/questions

[2017-06-29 13:41] sherrellbc commented on #98
I just posted over at [mbed](https://github.com/ARMmbed/mbed-os/issues/4670) as it's more appropriately the place to be asking about support on the mbed platform. However, I'll leave this here since any resulting examples are likely to be published to this repo.

[2017-06-29 16:22] andresag01 commented on #98
@sherrellbc: The conversations that you have linked in this issue do not state that there is not mbed TLS support for servers in mbed OS. In fact, the module that is mentioned there as being "UNIX/Windows only" is `net_sockets.c`, but this in no way impairs the user of mbed TLS as a server in mbed OS.

The mbed TLS `net_sockets.c` module is simply wrapper code around the UNIX/Windows sockets API.

[2017-07-05 14:42] JanneKiiskila opened #100 "Integrate with easy-connect"
In order to enable more network bearers w/o hacking the main.cpp OR doing many branches for it, should we use the easy-connect instead?

@janjongboom

[2017-07-07 06:28] JanneKiiskila commented on #100
PR proposal in; https://github.com/ARMmbed/mbed-os-example-tls/pull/101

[2017-07-12 06:23] janjongboom commented on #100
I like it.

[2017-07-14 14:31] #91 closed

[2017-09-11 14:35] andresag01 commented on #98
The question has been answered and there has not been any activity in this issue for sometime. Therefore, I am closing this issue. Please feel free to reopen it if you have further queries.

[2017-09-11 14:35] #98 closed

[2017-10-10 21:21] JanneKiiskila opened #122 "Why 9600 baud, if you already comment in main it might timeout?"
Hard to see why one should stick with 9600 bauds, if 115200 will work reliably with any board I'm aware of.

Ref:
https://github.com/ARMmbed/mbed-os-example-tls/blob/master/tls-client/main.cpp#L418-L419

[2017-10-17 19:04] andresag01 commented on #122
@JanneKiiskila: The baud rate for all mbed TLS example applications has been left to the default mbed OS, which I believe is 9600. In fact, none of our examples explicitly set the baud rate in the code or the .json config files. Given that these are meant to be easy-to-use examples, I think it makes sense to be consistent with the default rate to reduce the chance of new users misconfiguring the s

[2017-10-17 19:07] andresag01 commented on #100
@JanneKiiskila: Thanks for raising this. We have started reviewing your PR. Also, please note that we had already considered adding support for other transports in #43.

[2017-10-17 23:27] sbutcher-arm commented on #122
Hi @JanneKiiskila. Baud rates in Mbed OS examples have been the subject of passionate debates before, and in my view is an unnecessary distraction. If you're not carrying much data, and it's just debug output for users at a terminal, 9600 is as good as 115200.

In my view we should *only* change the baud rate if all other examples change at the same time.

If you want all the examples to change, p

[2017-10-20 06:18] janjongboom commented on #100
Note that I have https://developer.mbed.org/teams/sandbox/code/http-example, which uses easy-connect already and does talk HTTPS. Maybe we should use that in favor of tls-client.

[2017-11-02 20:54] andresag01 commented on #43
This issue has been resolved via https://github.com/ARMmbed/mbed-os-example-tls/pull/101. Closing...

[2017-11-02 20:54] #43 closed

[2017-11-02 21:03] andresag01 commented on #100
PR https://github.com/ARMmbed/mbed-os-example-tls/pull/101 has already been merged into the tls-client example. Closing this ticket...

With regards to @janjongboom, the tls-client is designed to be a minimal example of how to use Mbed TLS to setup a secure connection and is also used for other purposes such as out-of-the-box testing. The http-example you linked seems a lot more complex. Perhaps d

[2017-11-02 21:03] #100 closed

[2017-11-02 21:06] andresag01 commented on #122
@sbutcher-arm: Thanks for the input.

@JanneKiiskila: Thank you for raising this ticket nonetheless. Given @sbutcher-arm's comment, I will close this issue and if a decision is reached to change the baud rate for these examples I will reopen it. I hope this is OK with you.

[2017-11-02 21:06] #122 closed

[2017-12-11 16:23] sarahmarshy opened #133 "Benchmark does not compile with IAR + Odin"
Here is the compilation error:
[code]

I verified that it does build with gcc_arm.

[2017-12-11 16:55] sarahmarshy opened #134 "[Docs Request] .mbedignore or preferred method for selecting examples"
Please document how to compile only the desired example. I used `.mbedignore` to ignore the examples I did not want to compile. Unfortunately, this means that the mbed-os tools are not at the root of the project, which means that the mbed 2 SDK tools are used. It also means that users unfamiliar with `.mbedignore` might fail to compile this example.

The [current suggestion for building](https://g

[2017-12-11 22:50] sbutcher-arm commented on #133
@0xc0170 - This looks like an issue in CMSIS - `cmsis/TARGET_CORTEX_M/mpu_armv7.h`. Can you give guidance as to where I should direct this issue?

[2017-12-11 22:59] mazimkhan commented on #134
Can you please specify in the documentation at what step it fails. If you do ```mbed deploy``` from the example sub directory (step 2) then multiple mbed-os.lib files should not interfere.

[2017-12-11 23:27] sarahmarshy commented on #134
Ah, I ran mbed import instead of git clone for step one.

[2017-12-12 00:25] mazimkhan commented on #134
In this repo every example is in a separate directory. Manually we just change directory and deploy->build->test the example. I am not sure how ```mbed import``` works. Does it not support multiple examples repo like this one.

[2017-12-12 00:52] ciarmcom commented on #134
ARM Internal Ref: IOTSSL-1942

[2017-12-12 00:52] ciarmcom commented on #92
ARM Internal Ref: IOTSSL-1943

[2017-12-12 01:00] mazimkhan commented on #134
Just tried ```mbed import``` and it correctly fetched mbed-os in each example dir. I am able to build each example separately. I don't think you need to delete what ```mbed import``` downloaded to switch to a different example.
The only problem is that this repo isn't compatible with ```mbed import``` command. That expects a repo to be a single mbed application with mbed-os.lib at root. Instead it

[2017-12-12 08:28] 0xc0170 commented on #133
mbed-os, it seems like this is cmsis file comes from https://github.com/ARM-software/CMSIS_5/blob/04554249ab16ca2df1bb0b2562552bd7286cbfb7/CMSIS/Core/Include/mpu_armv7.h . Please report this to mbed-os, we will investigate with CMSIS team if needed.

[2017-12-13 12:35] adbridge commented on #133
@sbutcher-arm @mazimkhan Can we get an issue filed against mbed-os for this please and linked here.

[2017-12-13 12:38] adbridge commented on #134
@sarahmarshy This repo has been structured this way for as long as i can remember. I am surprised we are only seeing an issue now. @MarceloSalazar How have we tested this previously? Have we just used the mirrored one on os.mbed.com ?

[2017-12-13 12:45] MarceloSalazar commented on #134
We've been testing this as per instructions shown here: https://github.com/ARMmbed/mbed-os-example-tls#building-and-running-the-examples
(Using git clone / mbed deploy)

This is ok for now (5.7 release) but we'll be raising a requirement to split examples apps to their own repository and improve UX, as the current solution is not good enough.

[2017-12-13 12:53] MarceloSalazar commented on #134
IOTPREQ-2425

[2017-12-13 13:58] mazimkhan commented on #133
Interesting. With IAR8 I have different set of errors in CI https://jenkins-internal.mbed.com/job/mbedtls-mbed-os-examples-pr/73/execution/node/903/log/
[code]

[2017-12-14 09:45] mazimkhan opened #137 "authcrypt example fails to link on IAR 8.2 + Ublox ODIN"
authcrypt example fails to link with IAR8.2+Ublox ODIN. error:

log https://jenkins-internal.mbed.com/job/mbedtls-mbed-os-examples-pr/74/execution/node/828/log/
[code]

[2017-12-14 12:30] MarceloSalazar commented on #133
@mazimkhan we support IAR 7.8 in Mbed OS 5.7
Can we confirm the issue is still valid with this version of the compiler?

[2017-12-14 13:21] mazimkhan commented on #133
Ok sure I will switch back to 7.8 for Mbed OS 5.7.

[2017-12-14 13:26] mazimkhan commented on #133
Done https://github.com/ARMmbed/mbed-os/issues/5706

[2017-12-14 14:07] mazimkhan opened #138 "Memory allocation failure in benchmark example IAR + KW24D"
Error:
[code]

IAR 7.8
KW24D
CI log https://jenkins-internal.mbed.com/job/mbedtls-mbed-os-examples-pr/75/execution/node/592/log/
mbed-os 5.7

@MarceloSalazar please check.

[2017-12-14 14:11] MarceloSalazar commented on #138
@maclobdell would you like to review this for the KW24D platform?

[2017-12-18 03:26] maclobdell commented on #138
@bentcooke  - did you recently make a heap size change to get KW24D working in another example?  Perhaps that could be relevant to this issue.  Please share any details you have.

[2017-12-18 14:01] MarceloSalazar commented on #133
@sarahmarshy could you please re-test and confirm? thanks

[2017-12-18 21:34] bentcooke commented on #138
@maclobdell  I had to reduce the heap size (20k->15k) and move the nanostack heap into the system heap (`"mbed-mesh-api.use-malloc-for-heap": true`,) in order to get the mesh minimal example working on the KW24D.

[2017-12-20 16:55] mazimkhan commented on #134
Closing as nothing to do at the moment. Will be worked upon in IOTPREQ-2425.

[2017-12-20 16:55] #134 closed

[2018-01-09 12:43] mapellil opened #142 "Application do not compile"
the easy-connect generates compile errors when compiled for  target NUCLEO_L476RG + WIFI_IDW01M1 network interface. The CLI build system  and the online compiler both generates compiler errors.
The online compiler throw this error:

Error: Cannot open source input file "SpwfSAInterface.h": No such file or directory in "easy-connect/easy-connect.h", Line: 32, Col: 30

the CLI:

$ mbed compile
Build

[2018-01-09 14:54] andreaslarssonublox commented on #133
I also tried to compile this on mbed-os-example-tls SHA-1: 785f2eaf38edc806cdbe3548247e442a31920ce6
mbed-os 5.7 tag SHA-1: eca67ca7dafab4ef70c21e2463b541132d0dd691

I didn't get the errors as listen in https://github.com/ARMmbed/mbed-os-example-tls/issues/133 but it succeeded. I used IAR WB 7.5.

[2018-01-16 23:56] quantum-leaps commented on #133
The issue is caused by compiling the C header file "mpu_armv7.h" with the IAR C++ compiler. Specifically, unlike the IAR C, the IAR C++ does NOT recognize the "restrict" keyword by default. The workaround is to provide an explicit command-line option --enable_restrict to the compiler. In the IAR EWARM IDE, open the "Options..." dialog box for your project, choose the C/C++ Category on the left, Ex

[2018-03-06 14:20] donatieng opened #152 "OOB-5.8 Does not compile within online compiler"
Tried with K66F & NUCLEO_F429ZI targets.

Looks like there's a define issue with easy-connect.

These work fine with GCC_ARM + mbed cli, might be an online compiler issue.

[2018-03-07 19:14] donatieng opened #153 "MAKE_ARM5 export compilation fails for NUCLEO_F429ZI"
Using benchmark example:

[code]

[2018-03-08 09:49] mazimkhan commented on #152
I can confirm this does not happen on host. May be only online compiler issue. Assigning to @ashok-rao to route to concerned team.

[2018-03-08 15:15] theotherjimmy commented on #153
Does this affect other targets? I'll try this later today.

[2018-03-08 15:42] theotherjimmy commented on #153
@donatieng Did you clean since you last built with a Makefile?

[2018-03-09 10:51] donatieng commented on #153
Had done a make clean but this time I started again with a clean checkout and it worked, let me try and make it fail again!

[2018-03-09 14:42] donatieng commented on #153
Closing for now - must have missed something or my Windows VM did something unexpected.

[2018-03-09 14:42] #153 closed

[2018-03-09 15:29] mazimkhan opened #155 "Create online IDE projects for opaque keys examples"
Create online IDE projects for new [opaque keys examples](https://github.com/ARMmbed/mbed-os-example-tls/tree/feature-opaque-keys): pk_sign, pk_verify and tls-client-with-client-authentication.

[2018-03-20 16:59] ashok-rao opened #157 "[OoB_5.8]: Need more docs."
While OoB campaign for 5.8 release, the feature opaque key was validated.
Docs start here: https://github.com/ARMmbed/mbed-os-example-tls/blob/feature-opaque-keys/README.md .
Observations:
1. No mention of opaque key feature.
2. No introduction to what the feature does, how to use it, what are the advantages etc.
3. On the individual examples (pk_sign, pk_verify) there is no info about how opaque

[2018-03-20 17:16] ashok-rao opened #158 "[OoB_5.8]: Opaque key handling example does not compile in online compiler"
Steps to reproduce:
1. Import example via GitHub URL.
2. Switch to "feature-opaque-key" branch.
3. Select K64 as target.
4. Compile.

Expected output:
Example builds and generates binary.

Actual output:
Example does not build. Screenshot below.
![tls_onlinecompiler](https://user-images.githubusercontent.com/17567812/37670931-6cada0cc-2c62-11e8-835e-8ef2cc515ace.JPG)

[2018-03-20 17:24] ashok-rao opened #159 "[OoB_5.8]: export to make files does not build."
Steps:
1. mbed export -i make_gcc_arm -m K64F
2. Navigate to root of example.
3. make clean
4. make

Expected result:
Makefile builds binary of example.

Actual result:
Compilation fail.
[code]

Makefile attached (remove txt extension - only used for uploading to GitHub).

[Makefile.txt](https://github.com/ARMmbed/mbed-os-example-tls/files/1830427/Makefile.txt)

[2018-03-21 14:47] adbridge commented on #152
@theotherjimmy  Could you take a look please ?

[2018-03-21 15:08] theotherjimmy commented on #152
Well, for starters, that config error is done incorrectly, and the text is wrong.

[2018-03-21 15:09] theotherjimmy commented on #152
@donatieng Did you try adding the value requested to your `mbed_app.json`? (I know it's obvious, but it's worth checking)

[2018-03-22 08:49] chuanga opened #160 "export to uvision5 does not build for benchmark example"
Steps:
1. export to uvision5
$ cd benchmark
$ mbed export  -i uvision5 -m NUCLEO_F429ZI
Scan: .
Warning: Multiple linker scripts detected: .\.link_script.sct -> .\mbed-os\targets\TARGET_STM\TARGET_STM32F4\TARGET_STM32F429xI\device\TOOLCHAIN_ARM_STD\stm32f429xx.sct
Scan: FEATURE_LWIP

2. switch to uvision5 and open the project. Click to build for target
Here is the output from uvision ==>

*** Usin

[2018-03-22 09:58] chuanga opened #161 "export to uvision does not build for hashing example"
1. export to uvision5
$ mbed export  -i uvision5 -m NUCLEO_F429ZI
Scan: .
Scan: FEATURE_LWIP

2. Go to uvision & load the project. Then build
-- Here are the log ---

*** Using Compiler 'V5.06 update 5 (build 528)', folder: 'C:\Keil_v5\ARM\ARMCC\Bin'
Build target 'hashing'
compiling aes_alt.c...
compiling aesni.c...
compiling aes.c...
compiling AnalogIn.cpp...
compiling analogin_api.c...
compiling

[2018-03-23 10:55] ashok-rao commented on #158
cc @mazimkhan

[2018-03-28 14:53] ashok-rao commented on #159
@theotherjimmy ..FYI. Could you please have a look? Thanks.

[2018-03-28 15:07] theotherjimmy commented on #159
@ashok-rao That makefile contains an extra level of `../` how did you export it? You should be running the export from the root of an example, so step 2 should not happen.

[2018-03-28 15:21] ashok-rao commented on #159
TLS repo contains a set of examples.. I was on the pk_sign example here: https://github.com/ARMmbed/mbed-os-example-tls/tree/feature-opaque-keys .. I ran export & didn't get the makefile in "that" example.. so I moved 1 level up to the root of TLS and found the Makefile there.. that's what I then "made" with make ..

[2018-03-28 16:34] theotherjimmy commented on #159
@ashok-rao Why is that in quotes?

----

It looks like Mbed CLI does not know where your example starts because there are no `.mbed` files in this repo. I'm really not sure what's supposed to happen here. try placing a `.mbed` file in the root of the project and then exporting again.

[2018-03-28 17:08] ashok-rao commented on #159
:-) .. "that" above referred to pk_sign example among the many others.. hence..
Ok.. will try placing a .mbed file in the example (not the root) and try again..

[2018-04-05 08:18] JanneKiiskila opened #163 "Feature request : UDP support"
As part of https://github.com/ARMmbed/mbed-os/issues/6545 investigations we come to the conclusion that we have a test gap - the TLS connections are not tested with UDP (with the exception of Mbed Cloud Client) - so as such it would be really good to have both TCP and UDP as options for the TLS example.

Could it be added? It should be preferably an option you can configure from the `mbed_app.json

[2018-05-23 09:43] RonEld opened #170 "Remove todo from the benchmark application"
Remove the `todo` struct from the benchmark application, as it is a legacy from the origin of the example

[2018-05-23 09:45] RonEld opened #171 "MBEDTLS_MEMORY_BUFFER_ALLOC_C feature in benchmark is problematic"
The `MBEDTLS_MEMORY_BUFFER_ALLOC_C` feature in the `benchmark` application is problematic, as it uses 64 KB of stack size. By default Mbed-OS uses 4 KB of stack size. This feature should either be removed, or length should be taken from the link script

[2018-05-23 09:47] RonEld opened #172 "benchmark application: TIME_AND_TSC doesn't check return code"
The return code of function calls in `TIME_AND_TSC` is not checked

[2018-06-10 14:07] RonEld commented on #14
I believe that #116 would resolve most of the issues raised from the benchmark application

[2018-06-19 15:07] mazimkhan opened #179 "Memory allocation failure in tls-client example IAR + KW24D"
Logs: https://jenkins-internal.mbed.com/job/mbedtls-mbed-os-examples-pr/118/execution/node/591/log/?consoleFull

The example fails with error:
[code]

Could be linked to #138

[2018-06-19 15:09] mazimkhan commented on #179
Closing as it is the benchmark example ans already raised in #138

[2018-06-19 15:09] #179 closed

[2018-07-25 17:19] sbutcher-arm commented on #163
The purpose of these samples are to demonstrate the technology and use of the API. Testing is covered elsewhere.

@JanneKiiskila - Do you just want a DTLS system test for an Mbed OS board? If so, that's something else which we're already working on, and is nothing to do with this sample code.

cc: @mazimkhan

[2018-07-25 17:20] sbutcher-arm commented on #171
I don't think anyone using Mbed OS should need or want to use `MBEDTLS_MEMORY_BUFFER_ALLOC_C`. Why did this come up? My automatic answer would be don't do it. (And maybe we should document that).

[2018-07-25 17:24] sbutcher-arm commented on #157
@Patater - The feature of opaque key handling was never released beyond a demo, and to my knowledge has been superseded by other planned work.

Therefore - as we're never going to release it, can we close this bug?

[2018-07-25 17:31] sbutcher-arm commented on #158
@Patater - Given this related to opaque key handling, can we close it?

[2018-07-25 17:33] sbutcher-arm commented on #159
Looks like an issue for the documentation?

[2018-07-25 18:03] sbutcher-arm opened #183 "Feature request - Provide a TLS Server example"
Some users would like to use Mbed OS to provide TLS server functionality, and would like an example to help them. This [has been requested on the Mbed OS repo](https://github.com/ARMmbed/mbed-os/issues/4670).

[2018-07-25 19:49] ciarmcom commented on #172
ARM Internal Ref: IOTSSL-2418

[2018-07-25 19:49] ciarmcom commented on #171
ARM Internal Ref: IOTSSL-2419

[2018-07-25 19:49] ciarmcom commented on #170
ARM Internal Ref: IOTSSL-2420

[2018-07-25 19:49] ciarmcom commented on #161
ARM Internal Ref: IOTSSL-2421

[2018-07-25 19:49] ciarmcom commented on #159
ARM Internal Ref: IOTSSL-2423

[2018-07-25 19:49] ciarmcom commented on #158
ARM Internal Ref: IOTSSL-2424

[2018-07-25 19:49] ciarmcom commented on #157
ARM Internal Ref: IOTSSL-2425

[2018-07-25 19:49] ciarmcom commented on #152
ARM Internal Ref: IOTSSL-2426

[2018-07-25 19:49] ciarmcom commented on #138
ARM Internal Ref: IOTSSL-2427

[2018-07-25 19:49] ciarmcom commented on #137
ARM Internal Ref: IOTSSL-2428

[2018-07-25 19:49] ciarmcom commented on #133
ARM Internal Ref: IOTSSL-2429

[2018-07-25 19:49] ciarmcom commented on #15
ARM Internal Ref: IOTSSL-2430

[2018-07-25 21:47] sbutcher-arm opened #184 "Benchmark example fails on K64F with ARM C Compiler"
The Benchmark example is failing at the ECDSA test (again) on K64F and NUCLEO_F429ZI with the ARM C Compiler.

This is a regression introduced by PR #116.

We need to revert this change.

cc: @k-stachowiak, @RonEld

[2018-07-25 23:49] ciarmcom commented on #184
ARM Internal Ref: IOTSSL-2431

[2018-07-26 06:43] RonEld commented on #171
This came up in [this comment](https://github.com/ARMmbed/mbed-os-example-tls/pull/116#discussion_r188403649)

I agree that anyone using Mbed OS should need to use `MBEDTLS_MEMORY_BUFFER_ALLOC_C` , this is why the descriptionsais:

[2018-07-26 06:51] RonEld commented on #184
I have just tested again the benchmark application, compiled with ARM toolchain, and debug profile, on a k64f, and didn't encounter any issue:
[code]

[2018-07-26 08:24] RonEld commented on #92
I believe that #116 may have resolved this

[2018-07-26 08:44] RonEld commented on #142
@mapellil I apologize for delayed reply.
Does this issue still reproduce?
Have you tried running `mbed deploy` ?

[2018-07-26 09:24] sbutcher-arm commented on #184
Hi @RonEld,

This came up when I did a release job on the development head. You can see the failure for yourself in build #611 on Jenkins. What version of Mbed TLS were you using? Can you retest using commit id f11a7cda73e4?

[2018-07-26 09:47] RonEld commented on #184
I was testing on latest master branch of `mbed-os-example-tls` and `mbed-OS` which uses `mbedtls-2.10.0`
I'll retest

[2018-07-26 10:05] RonEld commented on #184
Hi @sbutcher-arm Could you please refer me to what repository is commit id f11a7cda73e4?
In addition, could you please refer me to the specific Jenkins release job? I was looking at [this failed job](https://jenkins-internal.mbed.com/job/mbedtls-release/611/) and I don't think it's related.

[2018-07-26 11:44] sbutcher-arm commented on #171
Ah! I was being dumb. I didn't realise you meant it was in `[benchmark.cpp](https://github.com/ARMmbed/mbed-os-example-tls/blob/master/benchmark/main.cpp)`. I thought you were talking about the library. That should indeed be removed.

[2018-07-26 14:44] RonEld commented on #171
no problem, I can see how me description was confusing.

[2018-07-26 14:50] RonEld commented on #171
After looking some more, I am not sure we want to remove the call for `MBEDTLS_MEMORY_BUFFER_ALLOC_C` in `benchmark.c` The feature is also used for memory statistics, measured in `MEMORY_MEASURE_PRINT`, which we may want to utilize for debugging

[2018-07-26 15:16] RonEld commented on #184
I got my answers. The repository is `mbedtls-restricted` and that was the Jenkins job.
I have change the MBED_TLS_VERSION in the importer script to f11a7cda73e4 and imported the code.
I compiled with GCC_ARM toolchain, with debug profile, for K64f.
The issue was not reproduced on my test:
[code]

[2018-07-30 09:49] RonEld opened #185 "benchmark application uses printf instead of mbedtls_printf"
[benchmark.c](https://github.com/ARMmbed/mbed-os-example-tls/blame/master/benchmark/main.cpp#L1022) contains `printf()` instead of the abstraction`mbedtls_printf()`

[2018-07-30 10:20] RonEld commented on #171
@andresag01 Yes, Mbed-OS has its own facilities, but you can't differentiate between Mbed TLS memoey usage and other features.
I am aware that `MBEDTLS_MEMORY_BUFFER_ALLOC_C` was probably not used in Mbed-OS, but I was raising a thought that perhaps we would like to keep it, for debugging purposes.
Obviously, the buffer size should change, perhaps according to scatter list

[2018-07-31 11:32] RonEld commented on #184
I just noticed this issue was raised on ARM C toolchain.
When I tried building for ARM C toolchain, I got a build failure. Raised as https://github.com/ARMmbed/mbedtls/issues/1907

I fixed the build issue. But I still didn't reproduce the current issue:
[code]

Nonetheless, I will remove the ECDSA build, as the CI probably fails with it, and it shouldfail.

[2018-07-31 19:10] andresag01 commented on #171
@RonEld

I would definitely consider this if we were talking about a relatively large application with multiple threads and other modules (other than Mbed TLS) being used. However, the benchmark example is just a simple application running Mbed TLS tasks sequentially (and nothing else) and there should be almost no interference wrt performance or memory from other parts of the system. I personally

[2018-08-01 10:54] RonEld commented on #184
Tested also with ARMC toolchain, and no issue found:
[code]

[2018-08-01 11:40] RonEld commented on #15
This is an old issue, and I believe it was resolved with https://github.com/ARMmbed/mbed-os-example-tls/commit/83dd1377242a515821765e6c01ea9abac7cdac75#diff-11d19f91de60e62a1952ab3e8b07cd0c

[2018-08-02 19:04] andresag01 opened #192 "tls-client example fails if MBEDTLS_HAVE_TIME_DATE enabled"
The PR https://github.com/ARMmbed/mbed-os/pull/4846 is already merged into Mbed OS and it will likely be included in the next release. In this case, I think the tls-client example will fail because https://github.com/ARMmbed/mbed-os/pull/4846 enables the MBEDTLS_HAVE_TIME_DATE feature, which enables date and time validity checks during certificate verification. However, the tls-client application

[2018-08-02 19:04] andresag01 commented on #192
@sbutcher-arm, @k-stachowiak

[2018-08-08 09:08] andresag01 commented on #192
I have updated https://github.com/ARMmbed/mbed-os-example-tls/pull/109 in case we want to use that fix.

[2018-08-08 14:33] sohaibqamar commented on #133
Hi,
I'm using IAR Workbench 8.30.1 to Build and Debug the code for mbed NXP LPC 1768.
I have installed only the IAR for ARM and exported the mbed-blinky from online compiler.
I'm trying to build with default options of IAR. I am getting the following errors during Make. Please help.

`Building configuration: mbed_blinky - mbed_blinky
Updating build tree...
main.cpp
Linking
Error[Li060]: module "mb

[2018-08-08 14:39] cmonr commented on #133
@sohaibqamar I've deleted your comment because it an obvious case of thread-jacking, and have moved it into it's own issue over at https://github.com/ARMmbed/mbed-os/issues/7733

[2018-08-10 09:32] Patater commented on #157
The opaque keys work will be delivered differently as part of [Mbed Crypto](https://github.com/ARMmbed/mbed-crypto). Closing.

[2018-08-10 09:32] #157 closed

[2018-08-10 09:32] Patater commented on #158
The opaque keys work will be delivered differently as part of [Mbed Crypto](https://github.com/ARMmbed/mbed-crypto). Closing.

[2018-08-10 09:32] #158 closed

[2018-08-27 16:13] RonEld commented on #133
I have compiled the benchmark application for both release and debug profiles, using
[code]
and couldn't reproduce the build error. I have used commit id 714adc8a31e267aa8fbe9a83e689612d487003f9 for the examples repository.
The mbed-os version is 5.9

Does this issue still reproduce?
i suggest closing this issue as both it doesn't reproduce and it's an Mbed-OS issue, and opened there as well.

[2018-09-19 11:54] screamerbg commented on #133
Can we close the issue as it's no longer reproducible? @sarahmarshy

[2018-10-10 10:49] RonEld opened #205 "sample applications should not set exit_code as return statement of functions"
As commented in https://github.com/ARMmbed/mbed-os-example-tls/pull/199#discussion_r224024552
internal functions return code should be set to a variable different than `exit_code`.
It's not a functionality bug, but it shows bad practice

[2018-10-10 18:19] #133 closed

[2018-10-18 11:37] sbutcher-arm commented on #52
Fixed by PR #194 which has now been merged. Issue can be closed.

[2018-10-18 11:37] #52 closed

[2018-10-18 11:38] sbutcher-arm commented on #29
Fixed by PR #194 which has now been merged. Issue can be closed.

[2018-10-18 11:38] #29 closed

[2018-10-18 11:39] sbutcher-arm commented on #15
If it wasn't already fixed, it's now fixed by PR #194 which has now been merged. Issue can be closed.

[2018-10-18 11:39] #15 closed

[2018-10-18 11:39] sbutcher-arm commented on #184
Fixed by PR #194 which has now been merged. Issue can be closed.

[2018-10-18 11:39] #184 closed

[2018-10-18 12:02] andresag01 commented on #185
@sbutcher-arm, @RonEld: I think this was fixed by https://github.com/ARMmbed/mbed-os-example-tls/pull/194. Should we close this issue

[2018-10-18 12:02] andresag01 commented on #172
@sbutcher-arm, @RonEld: I think this was fixed by https://github.com/ARMmbed/mbed-os-example-tls/pull/194. Should we close this issue

[2018-10-18 12:03] andresag01 commented on #171
@sbutcher-arm, @RonEld: I think this was fixed by https://github.com/ARMmbed/mbed-os-example-tls/pull/194. Should we close this issue

[2018-10-18 12:03] andresag01 commented on #170
@sbutcher-arm, @RonEld: I think this was fixed by https://github.com/ARMmbed/mbed-os-example-tls/pull/194. Should we close this issue

[2018-10-22 19:38] andresag01 commented on #14
Indeed, the stack issues should now be resolved with #116, #194 and other refactoring PRs for authcrypt and tls-client. So this issue can now be closed.

[2018-10-22 19:38] #14 closed

[2018-10-22 19:49] andresag01 commented on #27
The PR that fixes this issue in Mbed TLS has already been merged. The change is also in Mbed OS and the library version that the examples are using already includes the fixes needed for IAR. This ticket can now be closed.

[2018-10-22 19:49] #27 closed

[2018-10-22 19:52] andresag01 commented on #92
As @RonEld pointed out, this problem was solved in #116 and #194, so this ticket can now be closed. Please reopen if you think that the problem persists or further work is needed.

[2018-10-22 19:52] #92 closed

[2018-10-22 19:56] andresag01 commented on #192
The PR #109 that addresses this issue is already merged, so this ticket can now be closed.

[2018-10-22 19:56] #192 closed

[2018-10-23 08:20] k-stachowiak commented on #138
The impact of this issue has increased by one more test failing to allocate memory on the heap. Currently there are two allocation failures in the BIGNUM module:

    ...
    RSA - The private key operation failed : BIGNUM - Memory allocation failed
    ...
    DHM - Making of the public value failed : BIGNUM - Memory allocation failed
    ...

[2018-10-23 08:24] k-stachowiak opened #208 "Benchmark example times out on UBLOX EVK ODIN W2, on GCC_ARM"
The example times out while performing benchmark for `dh-3072`. Surrounding log:

    [CONN][RXD]   DHE-3072                 :    8571 ms/handshake
    [HTST][INF] test suite run finished after 600.36 sec...
    [HTST][ERR] Expected output [\s+DH-3072\s*:\s*\d+ ms/handshake] not received in log.

[2018-10-23 08:29] k-stachowiak opened #209 "No network interface found in the CI for UBLOX EVK ODIN W2"
Regardless of the compiler used, the following log can be found in the CI reports for the ODIN W2 device:

    [CONN][RXD] Using Mbed OS 5.10.2
    [CONN][RXD] ERROR: No network interface found!
    [CONN][RXD]
    [CONN][RXD] FAIL
    [HTST][INF] test suite run finished after 600.68 sec...

[2018-10-24 08:01] andresag01 commented on #172
This issue has been fixed via #194, so can now be closed.

[2018-10-24 08:01] #172 closed

[2018-10-24 08:03] andresag01 commented on #171
This was fixed via #194, so it can now be closed.

[2018-10-24 08:03] #171 closed

[2018-10-24 08:05] andresag01 commented on #170
This was fixed via https://github.com/ARMmbed/mbed-os-example-tls/pull/194, so it can now be closed.

[2018-10-24 08:05] #170 closed

[2018-10-24 08:06] andresag01 commented on #185
This was fixed via https://github.com/ARMmbed/mbed-os-example-tls/pull/194, so it can now be closed.

[2018-10-24 08:06] #185 closed

[2018-10-31 13:35] sbutcher-arm commented on #142
This is an old question, not a confirmed bug that's quite old. I assume this issue is now handled, so closing.

[2018-10-31 13:35] #142 closed

[2018-10-31 14:28] ciarmcom commented on #209
ARM Internal Ref: IOTSSL-2610

[2018-10-31 14:28] ciarmcom commented on #208
ARM Internal Ref: IOTSSL-2611

[2018-10-31 14:33] sbutcher-arm commented on #138
I understand the underlying issue is there's not enough heap available on this target for the test, which has been raised as issue [#8306](https://github.com/ARMmbed/mbed-os/issues/8306).

We've got no way of externally determining if the target can support the test or not, so I'd like to propose we change the benchmark to only test `RSA-2048`, and skip `RSA-4096`. `RSA-4096` is demanding in memor

[2018-10-31 14:52] andresag01 commented on #138
@sbutcher-arm

I think that (strictly speaking) this is not the issue. As I explained [here](https://github.com/ARMmbed/mbed-os-example-tls/pull/194#issuecomment-426390869) and [here](https://github.com/ARMmbed/mbed-os/issues/8306), the problem is that the IAR linker script for that target sets the heap size too small (just 16KB) which is too small for this application. However, the devices does h

[2018-10-31 15:17] sbutcher-arm commented on #138
I was trying to summarise the issue in one line with less than 20 words, but thanks for the clarification anyway. ;)

[2018-10-31 16:16] k-stachowiak opened #210 "Benchmark example times out on KW24D, on ARM compiler"
The example times out while performing benchmark for `DHE-2048`. Surrounding log:

[code]

[2018-10-31 16:16] k-stachowiak commented on #210
Note that it is similar to #208

[2018-10-31 16:17] k-stachowiak commented on #208
Note that it is similar to #210

[2018-11-20 14:37] k-stachowiak opened #218 "tls-client application cannot connect to the Mbed server after the root CA change"
The tls-client application returns:

[code]

[2018-11-20 22:30] sbutcher-arm commented on #208
GCC_ARM is now passing, but IAR is failing at the same point, as can be seen in the log for build [#816](https://jenkins-internal.mbed.com/blue/organizations/jenkins/mbedtls-release/detail/mbedtls-release/816/pipeline/94/).

[2018-11-25 14:35] RonEld commented on #208
@k-stachowiak I don't have a board to test, but could you check if setting `MBEDTLS_MPI_MAX_SIZE` to 512 fixes this issue? I have noticed that the default size of 1024 bytes causes stack overflow in many cases.

[2018-11-26 09:45] k-stachowiak commented on #208
@sbutcher-arm This issue seems to be fixed by #213, but that has not been approved yet. If it is an acceptable approach to remove the tests, then the issue may be considered resolved (even though this is a workaround, rather than a fix).

@RonEld I don't have the board either, but I raised a test PR (#219) to see the result in the CI run.

[2018-11-26 09:57] RonEld commented on #208
@k-stachowiak Thank you for running the test PR.

If reducing the MPI size to 512 will work, I will make a PR changing the default MPI size

[2018-11-26 10:52] RonEld commented on #208
@k-stachowiak Yes, I noticed, thanks
The lack of memory probably needs further investigation, but at least it fixes the timeout

[2018-12-05 23:48] andresag01 commented on #137
I think this is an issue with Mbed OS, so I created the ticket https://github.com/ARMmbed/mbed-os/issues/8984 in that repository.

[2018-12-06 00:01] andresag01 commented on #205
I have created the PR #221 to fix the issue reported here.

[2018-12-06 02:18] cmonr commented on #137
Fyi, Mbed OS is still not compatible with IAR 8.*
- https://os.mbed.com/docs/v5.10/tools/configuring-mbed-cli.html
- https://os.mbed.com/docs/v5.10/tools/exporting.html

[2018-12-09 17:45] andresag01 commented on #137
@cmonr: Thanks for the information.

@sbutcher-arm @RonEld: Can we close this ticket? Perhaps we should mark it 'wont fix'

[2018-12-10 09:34] RonEld commented on #137
I think we should close this, at least until Mbed OS will support IAR 8

[2018-12-10 09:34] #137 closed

[2018-12-24 09:43] sbutcher-arm opened #223 "Example states FRDM-K64F is needed - its not"
The `README.md` states that a Freescale FRDM-K64F is required hardware.

That's wrong and misleading. Any Mbed OS capable board with a network interface should support the example.

[2018-12-27 12:44] sbutcher-arm commented on #138
@maclobdell / @MarceloSalazar / @ashok-rao  - We think we've fixed this issue with PR #213, but we don't have the KW24D board in our CI, nor one available to test.

Could one of you please confirm this is fixed? It may well have been tested in the last OOB run for 5.11, so might not even need a new test.

[2019-01-03 13:01] RonEld commented on #210
@k-stachowiak Does the example timeout when setting `MBEDTLS_MPI_MAX_SIZE` to 512 ?

[2019-01-03 15:30] maclobdell commented on #138
Yes, I can test it.

With respect to: "we don't have the KW24D board in our CI"
@OPpuolitaival @studavekar  - Can you provide visibility to the Mbed ecosystem (developers, partners, customers) about which platforms are currently tested in the Mbed OS CI.  It would also be good to have a list of Mbed 5 Enabled boards that aren't tested in the Mbed OS CI and why.  As part of Mbed Enabled, we receive

[2019-01-07 13:32] sbutcher-arm opened #227 "Network Interface should be ethernet on CI, and default interface otherwise"
Targets may not always have ethernet as their default network interface, and may instead have Wifi.

Currently the Jenkins CI always uses the default interface and assumes that will be ethernet, which may break the CI for some targets.

Therefore, the example needs to be adapted to prefer ethernet on the CI, but otherwise go with the default interface.

See PR #222 for further discussion of the is

[2019-01-07 13:34] #223 closed

[2019-01-08 17:08] maclobdell commented on #138
Looks like KW24D is in the Mbed OS CI.  http://mbed-os-ci.s3-eu-west-1.amazonaws.com/jenkins-ci/artifacts/9250/1/greentea-test/696/PASS/KW24D/IAR/report_test_greentea_KW24D_IAR.html.  I'm assuming the Mbed TLS benchmark tests are not run in regular Mbed OS CI jobs.  Is there a separate job that can run the benchmark tests on the same boards that are in Mbed OS CI?  I'm happy to run it manually, bu

[2019-01-08 19:36] sbutcher-arm opened #228 "The README.md says the TLS example uses Easy Connect"
The README.md is out of date and states the example uses Easy Connect, when it doesn't.

[2019-01-08 22:13] ciarmcom commented on #228
ARM Internal Ref: IOTSSL-2704

[2019-01-09 19:40] cmonr commented on #138
@maclobdell The most up to date list of greentea CI tests can be found here: https://github.com/ARMmbed/mbed-os-ci/blob/master/mbed-os-jenkins/mbed-os-ci-greentea-test/Jenkinsfile.groovy#L44 (private repo).

Afaik, the CI team has tickets for all of the tests that aren't enabled and/or the stability issues are being worked out. @OPpuolitaival can confirm.

[2019-01-16 02:53] Carmeloning opened #230 "Certificate check failed"
I have changed TLS_PEM_CA.Using the cacert.pem to fill TLS_PEM_CA .But it failed.I change the debug_level from 0 to 1.
Something return like this.

ssl_tls.c:4643: |1| x509_verify_cert() returned -9984 (-0x2700)

mbedtls_ssl_handshake() returned -0x2700
How i configure it.thanks for your help.

[2019-01-16 06:35] Carmeloning commented on #218
How do you slove this problem？

[2019-01-16 14:16] k-stachowiak commented on #218
@Carmeloning Please see the PR that is linked here: https://github.com/ARMmbed/mbed-os-example-tls/pull/217
To solve this error one must update the root certificate, otherwise the Mbed server will not accept the connection.

[2019-01-17 14:22] k-stachowiak commented on #210
@sbutcher-arm @Patater Based on #231 I conclude, that the problem doesn't occur anymore. I suggest closing this issue.

[2019-01-17 14:22] k-stachowiak commented on #209
@sbutcher-arm @Patater Based on #231 I conclude, that the problem doesn't occur anymore. I suggest closing this issue.

[2019-01-17 14:22] k-stachowiak commented on #208
@sbutcher-arm @Patater Based on #231 I conclude, that the problem doesn't occur anymore. I suggest closing this issue.

[2019-06-06 07:43] RonEld opened #247 "Readme file about online compiler is not clear"
The Readme file about online compiler says the following:

Besides the grammar errors, the link of Mbed Developer leads to the main page of Mbed OS (https://os.mbed.com/)

[2019-06-10 08:33] RonEld opened #249 "Benchmark readme file shows output of subset algorithms than actually tested"
The benchmark applications shows only subset of the algorithms, while the actual application tests all of the algorithms:
[code]

[2019-06-10 08:44] RonEld opened #250 "output example of tls-client application should change to reflect current output"
output example is outdated since the SAN and certificate policies printing have changed and should be updated to something like:
[code]

[2019-11-19 11:48] Rajkumar181 opened #265 "Http client"
Is it possible to connecect with HTTP with 80 port.

[2020-05-25 09:08] darboy commented on #133
This method is effective ,thank u

[2020-10-13 13:56] ciarmcom commented on #265
@Rajkumar181 thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we r

[2020-10-13 13:56] ciarmcom commented on #249
@RonEld thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we reprod

[2020-10-13 13:56] ciarmcom commented on #247
@RonEld thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we reprod

[2020-10-13 13:56] ciarmcom commented on #230
@Carmeloning thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we r

[2020-10-13 13:56] ciarmcom commented on #210
@k-stachowiak thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we

[2020-10-13 13:56] ciarmcom commented on #205
@RonEld thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we reprod

[2020-10-13 13:56] ciarmcom commented on #183
@sbutcher-arm thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we

[2020-10-13 13:56] ciarmcom commented on #163
@JanneKiiskila thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we

[2020-10-13 13:56] ciarmcom commented on #155
@mazimkhan thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we rep

[2020-10-18 13:38] ciarmcom commented on #265
@Rajkumar181 it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #210
@k-stachowiak it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 13:38] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-18 14:14] #265 closed

[2020-10-23 13:39] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #210
@k-stachowiak it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-23 13:39] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-26 10:39] JanneKiiskila commented on #163
@adbridge  - seems to be me the BOT is teasing me for no reason, the ticket was updated.

[2020-10-28 14:38] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #210
@k-stachowiak it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-10-28 14:38] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #210
@k-stachowiak it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-04 17:57] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #210
@k-stachowiak it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:19] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-09 18:41] k-stachowiak commented on #210
I still think we can close it. Let me free some @ciarmcom 's cycles and close it.

[2020-11-09 18:41] #210 closed

[2020-11-14 21:28] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-14 21:28] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:29] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:29] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:29] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:29] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:30] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:30] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:30] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-19 21:30] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-20 09:59] sbutcher-arm commented on #183
I'm afraid I don't work on this project any more, and I don't know if this feature is needed any longer, so I am not the best person to complete this.

[2020-11-25 06:33] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #183
@sbutcher-arm it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-25 06:33] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-27 12:59] ciarmcom commented on #183
@simonbutcher thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we

[2020-11-30 06:33] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-11-30 06:33] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-02 14:33] ciarmcom commented on #183
@simonbutcher it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-05 08:32] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-07 21:34] ciarmcom commented on #183
@simonbutcher it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-08 12:25] simonbutcher commented on #183
For the sake of stopping the annoying @ciarmcom bot, that just wants a 25 word answer to shut up....

**Could you add some more detail to the description?**

Some users asked for an example that shows how to provide a TLS server. How that is provided is down to the person providing it.

Worth noting though that from a security and power management perspective, client is better than server in IOT.

[2020-12-10 08:33] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 08:33] ciarmcom commented on #155
@mazimkhan it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-10 09:12] 0xc0170 commented on #155
This has not been fixed for more than 2 years, I'll close as "won't fix".

[2020-12-10 09:12] #155 closed

[2020-12-13 06:32] ciarmcom commented on #183
@simonbutcher it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-14 14:15] 0xc0170 commented on #183
There is a fix, it should fix. Sorry about the noise @simonbutcher

[2020-12-14 14:33] ciarmcom commented on #183
@simonbutcher it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #250
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #249
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #247
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #230
@Carmeloning it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #205
@RonEld it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-15 08:33] ciarmcom commented on #163
@JanneKiiskila it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2020-12-18 16:43] ciarmcom commented on #250
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3110*

[2020-12-18 16:43] ciarmcom commented on #249
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3111*

[2020-12-18 16:44] ciarmcom commented on #247
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3112*

[2020-12-18 16:44] ciarmcom commented on #230
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3113*

[2020-12-18 16:45] ciarmcom commented on #205
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3114*

[2020-12-18 16:46] ciarmcom commented on #183
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3115*

[2020-12-18 16:47] ciarmcom commented on #163
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3116*

[2021-04-08 12:51] Patater opened #292 "CMake build fails with `Unknown CMake command "mbed_set_mbed_target_linker_script"`"
### Description of defect

[code]

#### Target(s) affected by this defect ?
All

#### Toolchain(s) (name and version) displaying this defect ?
GCC_ARM, ARM

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-0.0.0

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)
Mbed CLI 2

#### How is this defect reproduced ?
`mbed-tools compile -t GCC_ARM -m K66F

[2021-04-08 13:37] ciarmcom commented on #292
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3789*

[2021-04-15 16:42] Patater commented on #292
Fixed by https://github.com/ARMmbed/mbed-os-example-tls/pull/293

[2021-04-15 16:42] #292 closed

[2021-04-17 07:05] jahed-proj opened #294 "SSL handshake is failing - x509_verify_cert() returned -9984 (-0x2700)"
I am using mbed-os-example-tls on EA LPC4088 QuickStart Board . Mbed OS Version - OS 5.15.6. I am getting handshake error. Below is the log.
I have entropy set as NULL as the hardware does not have entropy. Kindly advise what is going wrong.

Starting mbed-os-example-tls/tls-client
Using Mbed OS 5.15.6
Server_name - os.mbed.comSuccessfully connected to os.mbed.com at port 443
Starting the TLS hand

[2021-04-17 07:33] ciarmcom commented on #294
@jahed-proj This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-04-17 07:34] ciarmcom commented on #294
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3828*

[2021-06-09 09:04] Patater opened #297 "Run-time failure on K66F "ECDSA-x25519 : Public function returned -0x4F80""
### Description of defect

[code]

#### Target(s) affected by this defect ?

- K66F

#### Toolchain(s) (name and version) displaying this defect ?

- GCC_ARM

#### What version of Mbed-os are you using (tag or sha) ?

e377383f6ddbf01bb8e842a32fb1a250c0598520

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

- Mbed CLI 2

#### How is this defect reproduced ?

Run th

[2021-06-09 09:32] ciarmcom commented on #297
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4056*

[2021-06-15 15:54] #297 closed

[2021-06-17 09:23] LDong-Arm opened #299 "README should let users know the benchmark app takes a long time to run"
### Description of defect

The RSA-4096 generation test in the benchmark app takes several minutes to run, potentially over 10 minutes on some targets. We should let users know this is normal and the application is not frozen - they should wait longer.

#### Target(s) affected by this defect ?

Any

#### Toolchain(s) (name and version) displaying this defect ?

Any

#### What version of Mbed-os ar

[2021-06-17 09:32] ciarmcom commented on #299
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4079*

[2021-06-21 08:47] LDong-Arm commented on #299
Fixed by #300

[2021-06-21 08:47] #299 closed